<a href="https://colab.research.google.com/github/Antony12-PNG/ant60/blob/main/collab_panda_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

El pandas serveix per treballar amb dades, aquestes dades tenen 3 tipús d'estructures.                     
-Series: estructura d'una dimensió, que orten el seu index associat a les segnes.        
-data frames: són estructures de dues  dimensons       
-panells: Són estructures de 3 dimensions

In [ ]:
!pip install pandas
!python --version
!apt-get install python3.12

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Python 3.10.12
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libpython3.12-minimal libpython3.12-stdlib mailcap mime-support python3.12-minimal
Suggested packages:
  python3.12-venv binfmt-support
The following NEW packages will be installed:
  libpython3.12-minimal libpython3.12-stdlib mailcap mime-support python3.12 python3.12-minimal
0 upgraded, 6 newly installed, 0 to remove and 49 not upgraded.
Need to get 5,548 kB of archives.
After this operation, 22.8 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/main amd64 mailcap all 3.70+nmu1ubuntu1 [23.8 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 mime-support all 3.66 [3,696 B]
Get:3 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 libpython3.12-minimal amd64 3.12.7-1+jammy1 [880 kB]
Get:4 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 python3.12-minimal amd64 3.12.7-1+jammy1 [2,497 kB]
Get:5 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 libpython3.12-stdlib amd64 3.12.7-1+jammy1 [2,049 kB]
Get:6 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 python3.12 amd64 3.12.7-1+jammy1 [94.7 kB]
Fetched 5,548 kB in 9s (629 kB/s)
Selecting previously unselected package libpython3.12-minimal:amd64.
(Reading database ... 123630 files and directories currently installed.)
Preparing to unpack .../0-libpython3.12-minimal_3.12.7-1+jammy1_amd64.deb ...
Unpacking libpython3.12-minimal:amd64 (3.12.7-1+jammy1) ...
Selecting previously unselected package python3.12-minimal.
Preparing to unpack .../1-python3.12-minimal_3.12.7-1+jammy1_amd64.deb ...
Unpacking python3.12-minimal (3.12.7-1+jammy1) ...
Selecting previously unselected package mailcap.
Preparing to unpack .../2-mailcap_3.70+nmu1ubuntu1_all.deb ...
Unpacking mailcap (3.70+nmu1ubuntu1) ...
Selecting previously unselected package mime-support.
Preparing to unpack .../3-mime-support_3.66_all.deb ...
Unpacking mime-support (3.66) ...
Selecting previously unselected package libpython3.12-stdlib:amd64.
Preparing to unpack .../4-libpython3.12-stdlib_3.12.7-1+jammy1_amd64.deb ...
Unpacking libpython3.12-stdlib:amd64 (3.12.7-1+jammy1) ...
Selecting previously unselected package python3.12.
Preparing to unpack .../5-python3.12_3.12.7-1+jammy1_amd64.deb ...
Unpacking python3.12 (3.12.7-1+jammy1) ...
Setting up libpython3.12-minimal:amd64 (3.12.7-1+jammy1) ...
Setting up mailcap (3.70+nmu1ubuntu1) ...
Setting up python3.12-minimal (3.12.7-1+jammy1) ...
Setting up mime-support (3.66) ...
Setting up libpython3.12-stdlib:amd64 (3.12.7-1+jammy1) ...
Setting up python3.12 (3.12.7-1+jammy1) ...
Processing triggers for man-db (2.10.2-1) ...

volem que pandas imprti alguna cosa.

Em de crear una varieble ue sigui setmana i hem de pasar-la a pd i printar una taula

In [ ]:
import pandas as pd

setmana = pd.Series(["dilluns","dimarts","dimecres","dijous","divendres","dissabte","diumenge"])
setmana
print(setmana)
print(setmana[0])

0      dilluns
1      dimarts
2     dimecres
3       dijous
4    divendres
5     dissabte
6     diumenge
dtype: object
dilluns

In [ ]:
setmana = pd.Series(["dilluns","dimarts","dimecres","dijous","divendres","dissabte","diumenge"])
setmana

0      dilluns
1      dimarts
2     dimecres
3       dijous
4    divendres
5     dissabte
6     diumenge
dtype: object

fer una serie numerica amb els numeros 12,58,63,47,81,35

In [5]:
import pandas as pd
numeros = pd.Series([12,58,63,47,81,35])
print(numeros)

0    12
1    58
2    63
3    47
4    81
5    35
dtype: int64

mirar la llargada la llargada de la seria numerica

In [12]:
import pandas as pd
sn = pd.Series([12,58,63,47,81,35])
print(sn)
print(sn.size)

6
0    12
1    58
2    63
3    47
4    81
5    35
dtype: int64

In [ ]:
size

sumar tos el valor numerics amb la funció sum, cal ue la suma digui(l'import total es...)

In [14]:
import pandas as pd
sn = pd.Series([12,58,63,47,81,35])
print(sn)
print(sn.size)
print("El valor numeric de la funció és: ",  sum)

0    12
1    58
2    63
3    47
4    81
5    35
dtype: int64
6
El valor numeric de la funció és:  296

em de buscar el valor promig de la serie

In [32]:
import pandas as pd
sn = pd.Series([12,58,63,47,81,35])
print(sn)
print(sn.size)
print("El valor numeric de la funció és: ",  sum(sn))
mediana = sn.mean()
print(mediana)
l = round(mediana,2)
print(l)

0    12
1    58
2    63
3    47
4    81
5    35
dtype: int64
6
El valor numeric de la funció és:  296
49.333333333333336
49.33

e de printar el numero max i minim, i printar la suma acumulada de valors  .cunsum

In [42]:
import pandas as pd

sn = pd.Series([12,58,63,47,81,35])

print(sn)

print(sn.size)

print("El valor numeric de la funció és: ",  sum(sn))

kj = sn.mean()
print(kj)

l = round(kj,2)
print(l)

minims_i_maxims = sn.max(), sn.min()
print("els minims i maxims són:", minims_i_maxims)

oug=sn.cumsum()
print(oug)

quantitat_numeros= sn.value_counts()
print(quantitat_numeros)

0    12
1    58
2    63
3    47
4    81
5    35
dtype: int64
6
El valor numeric de la funció és:  296
49.333333333333336
49.33
els minims i maxims són: (81, 12)
0     12
1     70
2    133
3    180
4    261
5    296
dtype: int64
12    1
58    1
63    1
47    1
81    1
35    1
Name: count, dtype: int64

fer una nova llista, 12,,8,5,5,14,3,12,7